page-signup {

    background-image: url('../assets/imgs/eko.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
 ion-content {
      background: rgba(0, 0, 0, 0.75) !important;
      height: 100% !important;
    }
    ion-item {
      background: transparent !important;
    }

    ion-label{
        color: white;
        
    }


    .no-scroll .scroll-content{
        overflow: hidden;
      }

   
    .logo{
        margin:0 auto !important; 
        height: 100px;
        width: 100px;
        // margin-top: 80px;
        display: block;  
    }

   

    .facebook{
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
    }

    // .or{
    //     margin-left: auto !important;
    //     margin-right: auto !important;
    // }

    .google{
        margin: 0 auto !important;
        height: 30px;
        width: 30px;
        display: block
    }

    i {
        // margin: 0 auto !important;
        font-size: 20px !important;
        color: map-get($colors, taxi);
    }



    .button{
        height: 50px;
    }

    ion-item{
        border-bottom: 1px solid #fef100 !important;
    }

    .money{
        padding-top: 10% !important; 
    }

  
        .fas-fa-angle-left {
          color: map-get($colors, taxi) !important;
          font-size: 30px;
          margin-left: 10px;
          margin-top: 4px;
        }

     
}
